{% extends 'base.html' %}

{% block title %}
Леонардо да Винчи
{% endblock %}

{% block body %}
<style>
   div {
    text-align: center;
    overflow: auto;
    padding-left: 15px;
    padding-right: 15px;
   }
   BODY {
    background: #FFCCCC;
   }
</style>
<body>
    <div align="center">
        <h1 style="text-align: center">Леонардо да Винчи (1472-1519)</h1><Br>
    </div>
    <div align="left">
        <p><img src="/static/IMG_5173.jpg" width="300" align="left" vspace="5" hspace="5"/><Br>
            Леона́рдо ди сер Пье́ро да Ви́нчи — итальянский художник и учёный, изобретатель,
            писатель, музыкант, один из крупнейших представителей искусства
            Высокого Возрождения, яркий пример «универсального человека».
        </p>
    </div>
    <div>
        <details>
            <summary><h2>«Мона Лиза», 1503—1519 годы</h2></summary>
                <p><img src="/static/Mona.jpg" width="400" align="right" vspace="10" hspace="10"><Br><Br><Br>
                «Мо́на Ли́за», или «Джоко́нда» (итал. Mona Lisa, La Gioconda, полное название — «Портре́т госпожи́ Ли́зы дель Джоко́ндо», итал.
                Ritratto di Monna Lisa del Giocondo) — картина Леонардо да Винчи, одно из самых известных произведений живописи.
                Точная дата написания неизвестна (по некоторым сведениям, написана между 1503 и 1505 годами). Ныне хранится в Лувре.
                Считается, что на картине изображена Лиза Герардини, супруга флорентийского торговца шёлком Франческо дель Джокондо.
                </p>
        </details>
    </div><Br>
     <div>
        <details>
            <summary><h2>«Мадонна с Младенцем», 1490—1491 годы</h2></summary>
                <p><img src="/static/madonna-litta-leonardo-da-vinchi+.jpg" width="400" align="left" vspace="10" hspace="10"><Br><Br><Br>
                Да Винчи в образе Мадонны объединил чувственное, земное, высокое и духовное в один гармоничный непоколебимый образ красоты.
                Лицо Мадонны безмятежно, и, хотя на губах нет улыбки, наклон головы и поза выражают бесконечную нежность к ребенку,
                которого она кормит грудью. Златокудрый Младенец рассеянно смотрит на зрителя, придерживая правой рукой грудь матери,
                в его левой руке - птичка щегол - символ христианской души.
                </p>
        </details>
    </div><Br>
     <div>
        <details>
            <summary><h2>«Святой Иероним», 1482 год</h2></summary>
                <p><img src="/static/svyatoy-ieronim-leonardo-da-vinchi+.jpg" width="400" align="right" vspace="10" hspace="10"><Br><Br>
                Художник представил здесь святого Иеронима - религиозного мыслителя, переводчика Библии на латинский язык,
                аскета и подвижника, удалившимся в пустыню, где тот провел несколько лет. Святой изображен кающимся,
                его глаза полны мольбы, одной рукой он отодвигает перекинутый через плечо плащ, а другую, размахиваясь,
                отводит назад, чтобы ударить себя камнем в грудь. Мышцы худого, аскетичного лица, плеч и рук напряжены, нога твердо стоит на большом камне,
                Иероним стал сплошным воплем Создателю о прощении. На переднем плане лежит лев, по легенде,
                сопровождавший святого с тех пор, как тот, встретив больного зверя в пустыне, вылечил его.
                Дикое животное покорилось любви и добру, которыми наполнил душу Иеронима Бог.
                </p>
        </details>
    </div><Br>
     <div>
        <details>
            <summary><h2>«Мадонна с Младенцем (Мадонна Бенуа)», 1478 год</h2></summary>
                <p><img src="/static/madonna-benua-leonardo-da-vinchi+.jpg" width="400" align="left" vspace="10" hspace="10"><Br><Br><Br>
                 Мадонна Бенуа - бесспорно, одна из знаковых картин художника. Центром композиции является цветок в руках Девы Марии,
                 к которому тянется Младенец Иисус. Мастер помещает Мадонну, одетую по флорентийской моде XV века,
                 и Младенца в комнате с единственным источником света - окном в глубине помещения. Однако иной, мягкий свет льется сверху,
                 именно он оживляет полотно игрой светотени, что придает фигурам объемность, выявляет тончайшую моделировку формы.
                 Колорит картины неяркий, чуть приглушенный.
                </p>
        </details>
    </div><Br>
     <div>
        <details>
            <summary><h2>«Мадонна в скалах», 1491—1509 или 1506-1508 годы</h2></summary>
                <p><img src="/static/madonna-v-skalah-leonardo-da-vinchi+.jpg" width="400" align="right" vspace="10" hspace="10"><Br>
                 По-видимому, творения Леонардо да Винчи (1452-1519) обречены на нескончаемые дискуссии по поводу их содержания, истории создания, последующей судьбы, техники письма, генезиса и влияния. Картина «Мадонна в скалах» - не исключение: связана ли она с более ранней луврской работой (1483-1484/85), почему мастер решил написать этот сюжет повторно, создать его второй вариант (серьезные исследователи не называют данное полотно копией)?

   В оригинале художник разработал сюжет по заказу францисканского монашеского Братства Непорочного зачатия Девы Марии для часовни церкви Сан- Франческо Гранде в Милане (сохранилась документация об условиях и всех стадиях работы). Живописец изобразил Мадонну, Младенца Христа, поднявшего руку в благословляющем жесте, маленького святого Иоанна и архангела, скорее всего Уриэля, ассоциирующегося с ним. В Национальной галерее хранятся две панели для этого сюжета с изображением музицирующих ангелов, но первоначально они принадлежали луврской картине.

   Иконография полотна богата и сложна. Возможно, Мадонна показана в скалах в связи с францисканской теологией, так как святой Франциск получил свои стигматы, молясь Христу возле горы с трещинами и расщелинами. И это только один скрытый смысл отдельного элемента, которых в работе множество.
                </p>
        </details>
    </div><Br>
     <div>
        <details>
            <summary><h2>«Портрет музыканта», 1490 год</h2></summary>
                <p><img src="/static/portret-muzikanta-da-vinchi+.jpg" width="400" align="left" vspace="10" hspace="10">
                 Единственный мужской портрет кисти Леонардо да Винчи, сохранившийся до наших дней. Кто именно изображен на нем неизвестно. Свое нынешнее название он получил после проведенной реставрации в 1904 году, когда на листе бумаги, который в руках держит юноша, стали видны ноты «Ангельской песни».
                    Картина осталась незаконченной, полностью написано только лицо молодого человека. Одеяние всего лишь намечено - на черном глубоком фоне тускло мерцают широкие мазки горчично-оливковых оттенков. Художник расставил несколько акцентов: ослепительно-белая, тонкая полоска воротника, серовато-белые складочки рубашки, видимые в разрезе на груди, бледно-кремовый лист бумаги. Самое яркое пятно – оранжево-красная шапочка на голове.
                    Незаконченными остались и длинные, изящные пальцы правой руки музыканта, которыми он бережно держит ноты.
                    Юноша спокойно позирует, повернувшись в три четверти. Луч света выхватывают из темноты умное, одухотворенное лицо, полное внутренней силы и достоинства.
                    Тени неуловимо сменяются светом, теплые оттенки плавно перетекают от золотисто-коричневых к нежно-телесным тонам. Все это позволяет художнику очень реально передать худощавое лицо, едва заметную ямочку на подбородке, рельефно оттенить чуть впалые щеки, высокие скулы.
                    Красивые светлые глаза, окаймленные тонкой черной линией ресниц, очень выразительны и необыкновенно живые. Тонкие темные брови, уходящие к вискам, подчеркивают их необычный разрез. Темно-каштановые густые кудри выбиваются из-под красной шапочки, спускаются на плечи.
                    Взгляд музыканта устремлен внутрь себя. О чем он задумался? Какую мелодию слышит? А может быть, сочиняет музыку?
                    От картины веет теплотой и умиротворенностью. Благодаря мастерству Леонардо да Винчи перед нами предстает живой человек со своими мечтами, мыслями и стремлениями.
                 </p>
        </details>
    </div><Br>
     <div>
        <details>
            <summary><h2>«Витрувианский человек», 1490 год</h2></summary>
                <p><img src="/static/vitruvianskiy-chelovek+.jpg" width="400" align="right" vspace="10" hspace="10"><Br>
                «Витрувианский человек» одновременно является шедевром изобразительного искусства и плодом научных изысканий. Этот рисунок был создан как иллюстрация для книги Леонардо, посвященной одному из трудов Витрувия – знаменитого римского архитектора. Как и сам Леонардо, Витрувий был необычайно одаренным человеком с широчайшими интересами. Он хорошо знал механику и обладал энциклопедическими знаниями. Интерес Леонардо к этому неординарному человеку понятен, так как он сам был очень разносторонней личностью и увлекался не только искусством в разных его проявлениях, но и наукой.
                </p>
        </details>
    </div><Br>
    <div align="center">
        <p>
            <a class = "p-3 btn btn-outline-danger flex-grow-0" href="/test2">Назад</a>
            <a class = "p-3 btn btn-outline-danger flex-grow-0" href="/test3">Вперед</a>
        </p>
    </div>
</body>
{% endblock %}