{% extends 'base.html' %}

{% block title %}
Искусство во всех красках
{% endblock %}

{% block body %}
<style>
body {
    background: url(/static/Bosch.jpg);
    background-size: cover;
}
</style>
<body>
    <div align="center">
        <h1 style="text-align: center" class="p-2 text-white">XV-XVI</h1><Br>
        <a class = "p-4 btn btn-outline-light" href="/test1">Иероним Босх (1450-1516)</a><Br>
        <Br>
        <a class = "p-4 btn btn-outline-light" href="/test2">Леонардо да Винчи (1472-1519)</a><Br>
        <Br>
        <a class = "p-4 btn btn-outline-light" href="/test3">Альбрехт Дюрер (1471-1528)</a><Br>
        <Br>
        <a class = "p-4 btn btn-outline-light" href="/test4">Питер Брейгель Старший (-1569)</a><Br>
        <Br>
        <a class = "p-4 btn btn-outline-light" href="/test5">Тициан (1490-1576)</a>
    </div>
</body>
{% endblock %}