{% extends 'base.html' %}

{% block title %}
Квиз
{% endblock %}

{% block body %}
<style>
   div {
    text-align: center;
    overflow: auto;
    padding-left: 15px;
    padding-right: 15px;
   }
   BODY {
    background: #666699;
   }
</style>
<div>
    <form action='/quiz'>
        <h1>Количество правильный ответов: {{f}}</h1>
    </form>
</div>
<Br>
<div align="center">
        <p>
            <a class = "p-3 btn btn-outline-dark flex-grow-0" href="/home">Вернуться на главную страницу</a>

        </p>
    </div>
{% endblock %}