{% extends 'base.html' %}

{% block title %}
Питер Брейгель Старший
{% endblock %}

{% block body %}
<style>
   div {
    text-align: center;
    overflow: auto;
    padding-left: 15px;
    padding-right: 15px;
   }
   BODY {
    background: #CCFFFF;
   }
</style>
<body>
    <div align="center">
        <h1 style="text-align: center">Питер Брейгель Старший (-1569)</h1><Br>
    </div>
    <div align="left">
        <p><img src="/static/images/IMG_5179.jpg" width="300" align="left" vspace="5" hspace="5"/><Br>
            Пи́тер Бре́йгель Ста́рший, известный также под прозвищем «Мужицкий» — нидерландский живописец и график,
            самый известный и значительный из носивших эту фамилию художников. Мастер пейзажа и жанровых сцен.
            Отец художников Питера Брейгеля Младшего и Яна Брейгеля Старшего.
        </p>
    </div>
    <div>
        <details>
            <summary><h2>«Крестьянская свадьба», 1567—1568 годы</h2></summary>
                <p><img src="/static/images/Pieter_Bruegel_d._Ä._011.jpg" width="500" align="right" vspace="10" hspace="10"><Br>
                Великий европейский художник Северного возрождения, Питер Брейгель работал во Франции, Брюсселе и Антверпене.
                Все сюжеты его картин кардинально не вписывались в классическую иконографию. Их, скорее, можно отнести к сатирико-аллегорическому типу искусства.
                Оригинальная картина «Крестьянская свадьба» написана маслом на дубовой доске. Как и основная часть его работ, полотно передано в Музей исторических искусств, в Вене.
                Он всегда воспринимал жизнь и происходящие процессы как нечто странное и причудливое, воспринимал по-своему видению и специфическому пониманию окружающего мира.
                Это проявлялось не только к личному существованию, но и ко всем людям в целом, за которыми он имел привычку наблюдать.
                Имея большое чувство юмора, он воспевал в своих произведениях и можно сказать, высмеивал ситуации со всей своей естественной непосредственностью.
                Это и отразилось в представленном изображении, где происходит, казалось бы, радостное событие. Однако, у всех собравшихся людей в глазах абсолютное равнодушие, и никто из них не улыбается.
                Молодая невеста, в полном одиночестве сидит грустная и неподвижная. Везде ходят какие-то люди, приглашённые сидят, пьют и едят, не обращая ни на кого внимания.
                Слева мужчина наполняет кувшин с вином, с другой стороны, несут лепёшки на снятой с петель двери, используя вместо подноса.
                Все вокруг жадно устремляют свои взгляды на яства.
                Неподалёку, слева, сидит на полу ребёнок уже с лепёшкой в руках и ест её. На нём смешная шапка с полями, которая закрывает частично лицо и глаза.
                Брейгель во всём имел способность подчеркнуть грубоватость и приземлённость крестьян.
                Выпившие и неуклюжие персонажи картины, всецело заполнили живые сцены на его полотнах, что является явной противоположностью итальянскому канону утончённого стиля изображения людей.
                </p>
        </details>
    </div><Br>
     <div>
        <details>
            <summary><h2>«Падение Икара», 1558 год</h2></summary>
                <p><img src="/static/images/IMG_4243.jpg" width="500" align="left" vspace="10" hspace="10"><Br>
                Картина называется “Падение Икара”. Но где собственно Икар?
                На первом плане – пахарь. На среднем – пастух с овцами. Корабль. На дальнем – море и горы.
                Ах да, в правом нижнем углу между рыбаком и кораблём – упавший в море Икар. Он уже почти погрузился в воду.
                Лишь его ноги ещё видны. А вокруг кружится несколько перьев.
                Почему же такое пренебрежение главным героем?
                Считается, что так Брейгель проиллюстрировал народную мудрость “Ни один плуг не остановится, пока кто-то умирает”.
                Брейгель изобразил, что гибель юноши никто не заметил. Ни рыбак, ни пахарь, ни пастух.
                Никто из них не бросил своего занятия. Корабль тоже проплыл мимо. Такое безразличие мира к трагедии одного человека обескураживает.
                </p>
        </details>
    </div><Br>
     <div>
        <details>
            <summary><h2>«Фламандские пословицы», 1559 год</h2></summary>
                <p><img src="/static/images/IMG_4221.jpg" width="500" align="right" vspace="10" hspace="10"><Br>
                Удивительная картина. 119 иллюстраций к пословицам. Некоторые сценки легко расшифровываются и без знания фламандского фольклора. Другие без этого знания не поймёшь.
                На левом фрагменте мужчина несёт корзину с паром. Явно бессмысленным делом занимается. Поговорка “Носить пар в корзине” как раз означает “тратить время попусту”.
                А вот на правом фрагменте женщина надевает на мужчину синий плащ. Здесь уже логики для современного человека нет. Во времена Брейгеля это означало изменять мужу.
                На картине попадается и несколько монстров в духе Босха. Но лишь, чтобы проиллюстрировать пословицы.
                Слева мы видим поговорку о людях, которые “способны даже черта к подушке привязать”, что означает быть очень упрямым.
                Справа мы видим товарища, который “Черту свечку держит”, а значит готов льстить и дружить, лишь бы была выгода. А ещё один “Исповедуется дьяволу”, а значит является предателем. Он ведь выдаёт тайны врагу.
                Второе название картины “Мир вверх тормашками”. Брейгель показал мир людей, оголив все его пороки. Мир, в котором люди занимаются бессмысленными делами.
                Мир, в котором дружат ради выгоды. Мир, в котором предательство на каждом шагу. Яркая сатира Брейгеля. Смешно и грустно одновременно.
                </p>
        </details>
    </div><Br>
     <div>
        <details>
            <summary><h2>«Вавилонская башня», 1563 год</h2></summary>
                <p><img src="/static/images/IMG_4214.jpg" width="500" align="left" vspace="10" hspace="10"><Br>
                 В “Вавилонской башне” невероятным образом сочетается панорамная и миниатюрная живопись.
                 Детали картины просто поражают. Попробуйте найти вот эти фрагменты среднего плана. Задача для самых терпеливых.
                 Слева – подъёмный кран 16 века. Справа – часть города позади вавилонской башни. По мосту едет телега, женщины полоскают белье.
                 А ещё вы можете разглядеть, что вдоль стен полно времянок. Но судя по женским фигуркам и развешенному белью, в них уже переехали семьи рабочих.
                 Это уже скорее похоже на муравейник, нежели на величественную башню.Не кажется ли вам ещё странным, что строительство идёт почти на каждом уровне?
                 Казалось бы, нижние уровни должны быть уже достроены, а работы проводиться только наверху. Но нет, работа кипит везде. Явно люди мало понимают друг друга.
                 Поэтому никак не могут договориться о том, как лучше строить башню. Но худо-бедно у них получается сохранять целостность здания. И даже жить в нем со своими семьями.
                 Несмотря на непонимание друг друга, в конечном счёте нам удаётся сохранить наш хрупкий человеческий мир. Весь в заплатах, весь в строительных лесах. Но он продолжает стоять.
                </p>
        </details>
    </div><Br>
     <div>
        <details>
            <summary><h2>«Охотники на снегу», 1565 год</h2></summary>
                <p><img src="/static/images/IMG_4236.jpg" width="500" align="right" vspace="10" hspace="10"><Br>
                 “Охотники на снегу” – один из главных шедевров Эпохи Возрождения. Что же в нем такого особенного?
                 Пространство картины слегка вогнуто внутрь. Как будто нарисовано на внутренней поверхности гигантской чаши. Эффект невероятной, “засасывающей” глубины.
                 Конечно, Брейгель намеренно искажает перспективу. Иначе бы у него не уместилось все в такое ограниченное пространство.
                 Как и в “Вавилонской башне”, Брейгель прорабатывает каждую деталь. Увеличьте любой участок картины, и перед вами целое произведение искусства.
                 Знали ли вы, что на картине “Охотники на снегу” есть сцена пожара и игры в кёрлинг? Все это происходит на дальнем плане.
                В этом шедевре уже нет сатиры “Пословиц”, трагедии “Икара” и красивой легенды “Вавилонской башни”. Но есть картина мира, где неплохо сосуществуют человек и природа.
                Несмотря на то, что охотники возвращаются со скудной добычей (с одной худосочной лисой), от картины веет тихой радостью. Маленькие заботы и игры людей в сочетании с грандиозными горами и снежными долинами.
                Мир нисколько не враждебен к человеку. Наоборот, если уважать его величие и приспосабливаться, он даст тебе все необходимое.
                Неожиданная философия для того времени, в котором жил Брейгель. Тогда уже открыли Америку. Люди все больше убеждались в собственном превосходстве. И все меньше думали об единении с природой.
                </p>
        </details>
    </div><Br>
     <div>
        <details>
            <summary><h2>«Притча о слепых», 1568 год</h2></summary>
                <p><img src="/static/images/IMG_4234.jpg" width="500" align="left" vspace="10" hspace="10"><Br>
                 “Притча о слепых” – одна из последних работ Брейгеля. Он умер в 1569 году, прожив около 40 лет (точная дата рождения художника не известна).
                 Перед нами шестеро слепцов, держащихся друг за друга. Вожак уже свалился в яму, за ним последовал его товарищ. Остальные на подходе. Последние ещё не в курсе, что случилось. Но мы уже знаем, что с ними произойдёт.
                 Мораль проста. Она встречается ещё в Библии “Если слепой ведёт слепого, то оба они упадут в яму”.
                 Вереницу из слепцов мы можем увидеть ещё во “Фламандских пословицах”. Только там вы их еле различите.
                 Что же заставило Брейгеля посвятить целую картину этому сюжету? Ответ можно найти в истории Нидерландов.
                 Это было самым тяжёлым временем в истории страны. Только-только началась революция, целью которой было обретение независимости от Испании.
                 Но противоречия рвали Нидерланды изнутри. Кто-то был лоялен испанскому королю. Кто-то был за независимость. Один хотел остаться католиком. А его сосед жаждал сделать страну протестантской.
                 Десятки лидеров тянули за собой последователей. И приводили их к гибели. Жгли на кострах нелояльных королю. Убивали католиков. Казнили протестантов.
                 Вот об этом “Притча о слепых”. Это предостережение Брейгеля, его завещание будущим поколениям. Нет правых и неправых. Не будьте слепцом, который бездумно следует за смелым и громкоголосым, но по сути таким же слепцом.
                </p>
        </details>
    </div><Br>
     <div>
        <details>
            <summary><h2>«Триумф смерти», 1561-1563 годы</h2></summary>
                <p><img src="/static/images/700px-The_Triumph_of_Death_by_Pieter_Bruegel_the_Elder.jpg" width="500" align="right" vspace="10" hspace="10"><Br>
                Картина представляет собой панораму выжженной бесплодной земли, на которой армия скелетов сеет ужас, хаос и смерть,
                подвергая мирных жителей всевозможным пыткам. Обречённые в страхе разбегаются, кто-то пытается дать отпор,
                а кто-то просто играет на лютне, предпочитая не замечать происходящее. Скелет в центре картины верхом на коне яростно косит людей огромной косой,
                и обезумевший люд беспорядочной толпой стремится в убежище, которое оказывается огромной ловушкой в форме гроба.
                Все без разбора — от крестьянина до короля — становятся жертвами торжествующей смерти. Мир гибнет под похоронный бой колоколов,
                раскачиваемых скелетами в верхнем левом углу картины. Изобилие элементов на картине отражает многие аспекты повседневной жизни XVI столетия
                — от деталей одежды до популярных развлечений, таких как игральные карты и нарды.
                Брейгель изобразил различные музыкальные инструменты, старинные механические часы, сцену охоты и похоронный обряд,
                а также разнообразные казни — колесование, повешение, обезглавливание, и даже утопление с привязанным к шее жёрновом.
                </p>
        </details>
    </div><Br>
    <div align="center">
        <p>
            <a class = "p-3 btn btn-outline-info flex-grow-0" href="/test3">Назад</a>
            <a class = "p-3 btn btn-outline-info flex-grow-0" href="/test5">Вперед</a>
        </p>
    </div>
</body>
{% endblock %}