{% extends 'base.html' %}

{% block title %}
Иероним Босх
{% endblock %}

{% block body %}
<style>
   div {
    text-align: center;
    overflow: auto;
    padding-left: 15px;
    padding-right: 15px;
   }
   BODY {
    background: #FFFFCC;
   }
</style>
<body>
    <div align="center">
        <h1 style="text-align: center">Иероним Босх (1450-1516)</h1><Br>
    </div>
    <div align="left">
        <p><img src="/static/IMG_5177.jpg" width="300" align="left" vspace="5" hspace="5"/><Br><Br>
            Еру́н Анто́нисон ван А́кен; лат. Hieronymus Bosch; около 1450—1516) —
            нидерландский потомственный художник, один из крупнейших мастеров периода Северного Возрождения.
            Из творчества художника сохранилось около десяти картин и двенадцати рисунков.
            Был посвящён в члены Братства Богоматери.
        </p>
    </div>
    <div>
        <details>
            <summary><h2>«Сад земных наслаждений», 1500—1510 годы</h2></summary>
                <p><img src="/static/sad.jpg" width="400" align="left" vspace="10" hspace="10">
                «Сад земных наслаждений» — самый известный триптих Иеронима Босха,
                получивший своё название по теме центральной части, посвящён греху сладострастия — Luxuria.
                Оригинальное название этой работы Босха доподлинно неизвестно. «Садом земных наслаждений» триптих назвали исследователи.
                В целом, ни одно из имеющихся на сегодняшний день толкований картины не признано единственно верным.
                Большинство теорий о значении картины развиты в XX веке.
                </p>
        </details>
    </div><Br>
    <div>
        <details>
            <summary><h2>«Несение креста», 1510-1535 годы</h2></summary>
                <p><img src="/static/NesenieK.jpg" width="400" align="right" vspace="10" hspace="10"><Br><Br>
                Название «Несение креста» (нидерл. Kruisdraging) нидерландский художник Иероним Босх дал как минимум трём своим картинам.
                Первое произведение на известную библейскую тему находится в Музее истории искусств в Вене, второе — в Музее изящных искусств в Генте.
                Кроме этих двух работ сохранилась боковая панель от несохранившегося триптиха с этим же названием,
                хранящаяся в Королевском дворце в Мадриде.
                </p>
        </details>
    </div><Br>
     <div>
        <details>
            <summary><h2>«Распятие с донатором», 1480-1485 годы</h2></summary>
                <p><img src="/static/Calvary_with_Donor_Bosch.jpg" width="400" align="left" vspace="10" hspace="10"><Br>
                Картина была заказана Босху по обету. Написанная на доске картина принадлежит к серии произведений,
                ставящих своей целью дать примеры религиозного благочестия. Такие примеры заимствовались из жизни святых,
                Христа и, в особенности, эпизодов его Страстей. Художник следовал уже существовавшим образцам подобных картин,
                восходящих к типу композиций, распространённых в Северной Европе с начала XV века.
                В религиозной живописи Босха слышны отзвуки искусства Хуго ван дер Гуса, Дирка Баутса,
                Рогира ван дер Вейдена и Яна ван Эйка, Робера Кампена, Ханса Мемлинга.
                Традиционно изображаемому на заднем плане Иерусалиму Босх придал уютный облик обычного нидерландского городка,
                вырисовывающегося в лиловато-серой пелене — может быть, это его родной Хертогенбос.
                Костюм заказчика, столь бесцеремонно «вторгшегося» в сцену традиционной иконографии,
                напоминает miparti — модный в XV в. двухцветный наряд.
                </p>
        </details>
    </div><Br>
     <div>
        <details>
            <summary><h2>«Брак в Кане Галилейской», 1460-1480 годы</h2></summary>
                <p><img src="/static/1024px-Bosch_The_marriage-feast_at_Cana_(Boijmans_Van_Beuningen).jpg" width="400" align="right" vspace="10" hspace="10"><Br><Br><Br><Br>
                Картина неизвестного нидерландского живописца (возможно, круга Босха) написана между 1560 и 1580 годами.
                До наших дней дошли три «Брака в Кане», которые ранее связывались с именем Босха -
                немецкого художника Хенрика Фунхофа, рисунок неизвестного младшего современника Босха
                (возможно Герарда Давида; находится в Лувре), а также работу неизвестного мастера испано-фламандской школы конца XV века
                (так называемого «мастера католических королей»)
                </p>
        </details>
    </div><Br>
     <div>
        <details>
            <summary><h2>«Извлечение камня глупости», 1475-1480 годы</h2></summary>
                <p><img src="/static/Hieronymus_Bosch_053.jpg" width="400" align="left" vspace="10" hspace="10"><Br>
                Эта картина представляет фольклорную линию в творчестве художника.
                В «Извлечении камня глупости» посреди унылого, однообразного пейзажа разместились четыре человека.
                Рядом со столиком в кресле сидит седовласый простак,
                над которым стоит врач-шарлатан с воронкой на голове и проводит операцию по удалению «камня глупости».
                За операцией наблюдают монах и монахиня. Во времена Босха существовало поверье: сумасшедшего можно исцелить,
                если извлечь из его головы камни глупости. Шарлатанство по Босху — неотъемлемый,
                обязательный спутник человеческой глупости. Образы шарлатанов у него встречаются весьма часто, особенно в раннем творчестве.
                Голландское выражение «иметь камень в голове» означало «быть глупым, безумным, с головой не на месте».
                Сюжет удаления «камня глупости» прослеживается в голландских гравюрах, живописи и литературе вплоть до XVII в.
                Орнаментальная надпись вверху и внизу гласит: «Мастер, удали камень. Меня зовут Лубберт Дас».
                Считается, что картина была написана самим Иеронимом Босхом или как минимум в его мастерской.
                </p>
        </details>
    </div><Br>
     <div>
        <details>
            <summary><h2>«Семь смертных грехов», 1475-1480 годы</h2></summary>
                <p><img src="/static/Hieronymus_Bosch-_The_Seven_Deadly_Sins_and_the_Four_Last_Things.jpg" width="400" align="right" vspace="10" hspace="10"><Br>
                Предположительно эта картина относится к раннему периоду творчества Босха.
                Её также называют «столешницей» по её функциональному предназначению, которое она, впрочем, никогда не выполняла.
                    Сюжет картины настраивает зрителя на религиозные размышления. Уже около трёхсот лет картина висит в Эскориале, где её когда-то в своей спальне повесил испанский король Филипп II. С тех пор картина покидала Эскориал лишь один раз: во время гражданской войны в Испании — из соображений безопасности она была передана на временное хранение в Прадо.
                </p>
        </details>
    </div><Br>
    <div>
        <p>
            <a class = "p-3 btn btn-outline-warning flex-grow-0" href="/about">Назад</a>
            <a class = "p-3 btn btn-outline-warning flex-grow-0" href="/test2">Вперед</a>
        </p>
    </div>
</body>
{% endblock %}