{% extends 'base.html' %}

{% block title %}
Тициан
{% endblock %}

{% block body %}
<style>
   div {
    text-align: center;
    overflow: auto;
    padding-left: 15px;
    padding-right: 15px;
   }
   BODY {
    background: #FFCCFF;
   }
</style>
<body>
    <div align="center">
        <h1 style="text-align: center">Тициан (1490-1576)</h1><Br>
    </div>
    <div align="left">
        <p><img src="/static/images/IMG_5171.jpg" width="300" align="left" vspace="5" hspace="5"/><Br>
            Тициа́н Вече́ллио — итальянский живописец, крупнейший представитель венецианской школы эпохи
            Высокого и Позднего Возрождения. Имя Тициана стоит в одном ряду с такими художниками Возрождения,
            как Микеланджело, Леонардо да Винчи и Рафаэль.
        </p>
    </div>
    <div>
        <details>
            <summary><h2>«Мадонна с младенцем», 1510 год</h2></summary>
                <p><img src="/static/images/422277.jpg" width="400" align="left" vspace="10" hspace="10"><Br>
                Одна из самых ранних работ художника, среди известных на данный момент. На момент написания этой работы художнику было около 18 лет
                (согласно разным источникам он родился в 1488 или в 1490-м году). В начале своего пути стиль Тициана был близок стилю другого мастера итальянского Возрождения – Джорджоне,
                причем настолько, что какое-то время атрибуция этой картины была под вопросом. Вазари в своем известном труде
                "Жизнеописания знаменитых живописце, ваятелей и зодчих" писал о Тициане как о продолжателе традиций Джорджоне.
                Если же говорить о самой картине, то и композиция довольно типична для стиля того времени – Мадонна изображена на фоне пасторального пейзажа,
                который, по мнению некоторых исследователей, напоминает родину самого художника – итальянскую область Кадоре
                (Тициан переехал в Венецию в возрасте 10-12 лет).
                "Мадонна с младенцем" также имеет второе название – "Мадонна Лохиса" - по имени известного европейского коллекционера
                XIX века графа Гульельмо Лохиса (Guglielmo Lochis), жемчужиной собрания которого она была.  Сейчас эта работа хранится в Академии Каррара в Бергамо.
                </p>
        </details>
    </div><Br>
    <div>
        <details>
            <summary><h2>«Крещение Христа», 1512 год</h2></summary>
                <p><img src="/static/images/2492.jpg" width="400" align="right" vspace="10" hspace="10"><Br>
                Еще одна ранняя работа художника на библейский сюжет. На картине три персонажа – сам Христос, облаченный в белое и стоящий по колено в реке Иордан,
                Иоанн Креститель, а по диагонали от него – мужчина в черном, наблюдающий за таинством крещения. По мнению исследователей, это Джованни Рам (Giovanni (Juan) Ram),
                непосредственный заказчик картины. Если на выставке будет возможность подойти к картине поближе, то можно рассмотреть два обручальных кольца на руке мужчины в черном,
                считается что они символизируют земной брак Рама и его мистический брак с Богом – идея так называемого "мистического брака между Богом и человеком" была общим местом в теологии времен Возрождения.
                Эту картину относят к периоду, когда Тициан выработал собственный стиль и его работы стали все менее походить на произведения Беллино и Джорджоне.
                Кроме того, в этой работе ему удалость достигнуть эффекта сфумато, знаменитого приема, изобретенного Леонардо да Винчи, позволяющего передать на картине воздух, окутывающий ее героев.
                До конца XVI века эта картина находилась в собственности семейства Рам, затем была продана и спустя время, в 1750-м году, попала в коллекцию капитолийской Пинакотеки.
                </p>
        </details>
    </div><Br>
    <div>
        <details>
            <summary><h2>«Флора», 1515 год</h2></summary>
                <p><img src="/static/images/828908767.jpg" width="400" align="left" vspace="10" hspace="10"><Br><Br>
                Несмотря на то, что этот портрет был написан Тицианом в возрасте приблизительно 25 лет и относится к раннему периоду его творчества,
                он является  квинтэссенцией того, что принято называть "тициановской красотой", чувственной и полнокровной. Кто изображен на картине – загадка. Предполагают,
                что это могла быть Виоланте, дочь художника Якопо Пальмы Старшего, но никаких документальных свидетельств, которые могли бы подтвердить или опровергнуть сей факт, нет.
                Также до сих пор исследователи гадают, кто предстает перед зрителями – непорочная дева, или же искусная куртизанка. Ясно одно: эта золотоволосая юная девушка послужила художнику прототипом и других картин –
                "Женщина перед зеркалом" (Лувр) и "Саломея" (галерея Дориа Памфили), а также вдохновила художников следующих поколений – в частности, Рембрандта и Веласкеса. Катина принадлежит собранию Галереи Уффици, Флоренция.
                </p>
        </details>
    </div><Br>
    <div>
        <details>
            <summary><h2>«Портрет Томмазо или Винченцо Мости», 1520-1526 годы</h2></summary>
                <p><img src="/static/images/300px-Tizian_071.jpg" width="400" align="right" vspace="10" hspace="10"><Br><Br><Br>
                 Портрет-загадка, существуют разные предположения относительного того, кто запечатлен на картине - согласно надписи на обороте на ней изображен Томмазо Мости.
                 Однако, поскольку он был духовным лицом, а портретируемый одет в светскую одежду, было сделано предположение, что на самом деле это его брат Винченцо,
                 фаворит герцога Феррары, Модены и Реджио Альфонсо д'Эсте. Сейчас находится в собрании Галереи Палатина Палаццо Питти во Флоренции.
                </p>
        </details>
    </div><Br>
    <div>
        <details>
            <summary><h2>«Красавица (La Bella)», 1536 год</h2></summary>
                <p><img src="/static/images/274px-Tizian_034.jpg" width="400" align="left" vspace="10" hspace="10"><Br><Br>
                На выставке в Москве можно увидеть еще один из самых прекрасных женских образов в истории мирового искусства – на этой картине изображена другая
                незнакомка в богатом одеянии из синего бархата, но также, как и Флора, с пышными золотистыми волосами, собранными в косу вокруг головы.
                Происходит потрет из урбинского собрания, поступил в коллекцию флорентийских герцогов Медичи в 1631 году с наследством  супруги Фердинандо II
                Медичи Виттории делла Ровере. Возможно, именно этот портрет упоминается в письме урбинского герцога Франческо Мария делла Ровере своему послу в
                Венеции Леонарди  как "Дама в синем". Относится к собранию Галереи Палатино Палаццо Питти, Флоренция.
                </p>
        </details>
    </div><Br>
    <div>
        <details>
            <summary><h2>«Портрет Джулио Романо», 1536 год</h2></summary>
                <p><img src="/static/images/4180.jpg" width="400" align="right" vspace="10" hspace="10"><Br>
                На портрете изображен итальянский живописей и архитектор Джулио Романо (или Джулио Пиппи) – ученик Рафаэля и один из ярчайших представителей маньеризма. Портрет Тициан писал в Мантуе,
                у живописцев были совместные дела, и оставил его в подарок другу. На картине Романо изображен как архитектор, он держит в руках план обустройства церкви.
                После смерти сына Джулиано Романо портрет был выкуплен семейством Гонзага (в 1562 году), а сейчас хранится в Мантуе в музее, расположенном в Палаццо де Те (Museo Civico di Palazzo Te),
                построенном по его проекту и им же расписанном. Художник родился в Риме (отсюда и прозвище Романо, ставшее известнее фамилии Пиппи) и перебрался в Мантую по приглашению герцога Франческо Гонзаго.
                Кстати, в ГМИИ есть и известная работа самого Джулиано Романо – "Форнарина" или "Дама за туалетом" как еще называют эту работу (зал №7 Искусство Италии VIII-XVIII веков).
                </p>
        </details>
    </div><Br>
    <div>
        <details>
            <summary><h2>«Портрет Антонио Порчия», 1535-1540 годы</h2></summary>
                <p><img src="/static/images/6-Portret-Antonio-Porchia-1535-1540-Pinakoteka-Brera.jpg" width="400" align="left" vspace="10" hspace="10"><Br>
                Антонио Порчия – дворянин из Порденоне (город в одноименной итальянской провинции). Эта картина - типичная для того времени работа на заказ,
                официальный портрет благородного мужа. Если рассматривать эту работу в контексте творчества Тициана, то исследователи сходятся во мнении,
                что это одна из лучших работ зрелого периода художника. И к тому же один из самых больших его портретов. Герой картины показан величественным,
                например, в глаза бросается массивная золотая цепь, напоминающая орден Золотого руна. В то же время портрет не выглядит тяжелым, не давит на зрителя,
                "воздуха" картине добавляет пейзаж за окном. Картина долгие годы хранилась у потомков господина Порчия, а потом вместе с семьей переехала в Милан,
                где была унаследована Евгенией Висконти Литта Аресе, которая в 1891 году в свою очередь подарила ее городскому музею - Пинакотеке Брера, где картина хранится и по сей день.
                </p>
        </details>
    </div><Br>
    <div>
        <details>
            <summary><h2>«Даная», 1544-1546 годы</h2></summary>
                <p><img src="/static/images/828596596.jpg" width="500" align="right" vspace="10" hspace="10"><Br>
                Даная – героиня картин многих художников. В древнегреческой мифологии дочь Акрисия, царя Аргосского и Евридики, мать Персея, имя которой упоминается в "Илиаде". Тициан также изображает "кульминационный момент" истории Данаи – Зевс проникает в ее темницу в виде золотого дождя.
                Тициан написал целую серию картин (по разным данным 5-6 версий). Первая версия, которую и покажут на выставке в ГМИИ, была написана в период с 1544 по 1546 годы по заказу испанского короля Филиппа II, а сейчас принадлежит Национальному музею Каподимонте в Неаполе.
                Все работы несколько отличаются друг от друга сюжетно, главные героини каждой из картин лежат в одинаковой позе (кстати, повторяющей позу Леды с утраченной картины Микельанджело). На неапольской версии картины рядом с Данаей – амур, в отличие от других картин.
                Еще одна из них находится в музее Прадо, вторая в Эрмитаже, третья в Венском художественно-историческом музее. Более всего похожи между собой "Данаи" из Прадо и Эрмитажа, отличаются главным образом служанки, которые ловят золотые монеты подолом платья, а на картине из венского музея служанка ловит монеты золотым подносом.
                В свое время картина принадлежала коллекции знаменитой итальянской династии Фарнезе, до того как попала в коллекцию музея. Во времена Второй мировой войны эта работа Тициана была в числе похищенных нацистами произведений искусства, которые были найдены в шахте в Зальцбурге, и вернулась в Неаполь после окончания войны в 1947.
                </p>
        </details>
    </div><Br>
    <div>
        <details>
            <summary><h2>«Распятие», 1558 год</h2></summary>
                <p><img src="/static/images/unnamed.jpg" width="350" align="left" vspace="10" hspace="10"><Br><Br>
               "Распятие" было завершено Тицианом в 1558 году и сейчас принадлежит алтарю церкви Сан-Доменико в Анконе. Эта работа была заказом венецианского купца Петро делла Корнови, переехавшим с семьей из Венеции в Анкону.
               Композиция картины почти плоская, слева у подножия креста – Дева Мария в темно-синих одеждах, ее лица почти не видно, Святой Доминик обнимает крест, а Святой Иоанн стоит, раскинув руки, не в силах поверить в случившееся.
               На тот момент написания этой картины Тициан занимался живописью уже более пятидесяти лет, и в этот период своего творчества обратился к исследованию трагедии и человеческих страданий,
               передать которые в своих работах он пытался в первую очередь с помощью цвета. Вазари описывал этот стиль "позднего Тициана", как "сделанный из пятен" краски. Здесь преобладают темные тона, доминируют синий и черный, а белый,
               которого совсем немного, выглядит как вспышки света. Для достижения необходимого ему эффекта в некоторых местах Тициан наносил краску не кистью, а пальцем.
                </p>
        </details>
    </div><Br>
    <div>
        <details>
            <summary><h2>«Благовещение», 1564 год</h2></summary>
                <p><img src="/static/images/annunciation-1.jpg!Large.jpg" width="300" align="right" vspace="10" hspace="10"><Br><Br><Br>
                Это часть алтарного образа (Тициан кроме "Благовещения" работал также над еще одним образом в этой же церкви - "Преображением Господним"),
                заказанного тем же венецианцем Пьетро Корнови для часовни церкви Сан-Сальвадор в Венеции, где работа находится до сих пор.
                Над картиной Тициан работал с 1559 года и закончил ее к 1564-му. Хотя современники критиковали эту "Благовещение" за "грязные цвета",
                сейчас она воспринимается как одна из наиболее смелых его работ. На картине Мария изображена напуганной, а не смиренно принимающей известие,
                как ее изображали ранее, а визуальный акцент смещен на архангела Гавриила и Святой дух в центре композиции.
                </p>
        </details>
    </div><Br>
    <div>
        <details>
            <summary><h2>«Венера, завязывающая глаза Амуру», 1565 год</h2></summary>
                <p><img src="/static/images/venera-zavyazyvayuschaya-glaza-amuru-tician-.jpg" width="400" align="left" vspace="10" hspace="10"><Br>
                С  "Флорой" "Венеру" разделяют полвека, и, безусловно, меняется манера письма мастера. Живопись здесь, вдохновившая позже Тернера и импрессионистов,
                похожа на крупные светоносные цветные пятна, которыми обозначены царственные фигуры богини и нимф. Одному из Амуров Венера завязывает глаза,
                а нимфы подают ему лук со стрелами. В то же время другой прижимается к ней, как дитя к матери, что сообщает полотну спокойствие и игривую атмосферу одновременно.
                Сейчас картина принадлежит коллекции римской Галереи Боргезе.
                Тициан скончался почти через десять лет, в августе 1576 года во время эпидемии чумы. По легенде, его нашли на полу мертвым с кистью в руке.
                </p>
        </details>
    </div><Br>
    <div align="center">
        <p>
            <a class = "p-3 btn btn-outline-secondary flex-grow-0" href="/test4">Назад</a>
            <a class = "p-3 btn btn-outline-secondary flex-grow-0" href="/test">Вперед</a>
        </p>
    </div>
</body>
{% endblock %}