{% extends 'base.html' %}

{% block title %}
Искусство во всех красках
{% endblock %}

{% block body %}
<body background="/static/FON.jpg">
    <div align="center">
        <h1 style="text-align: center" class="p-2 text-black">XIX-XX</h1><Br>
        <a class = "p-4 btn btn-outline-dark" href="/ttest1">Василий Кандинский (1866-1944)</a><Br>
        <Br>
        <a class = "p-4 btn btn-outline-dark" href="/ttest2">Казимир Малевич (1879-1935)</a><Br>
        <Br>
        <a class = "p-4 btn btn-outline-dark" href="/ttest3">Пабло Пикассо (1881-1973)</a><Br>
        <Br>
        <a class = "p-4 btn btn-outline-dark" href="/ttest4">Марк Шагал (1887-1985)</a><Br>
        <Br>
        <a class = "p-4 btn btn-outline-dark" href="/ttest5">Сальвадор Дали (1904-1989)</a>
    </div>
</body>
{% endblock %}