{% extends 'base.html' %}

{% block title %}
Сальвадор Дали
{% endblock %}

{% block body %}
<style>
   div {
    text-align: center;
    overflow: auto;
    padding-left: 15px;
    padding-right: 15px;
   }
   BODY {
    background: #993366;
   }
</style>
<body>
    <div align="center">
        <h1 style="text-align: center">Сальвадор Дали (1904-1989)</h1><Br>
    </div>
    <div align="left">
        <p><img src="/static/images/IMG_5187.jpg" width="300" align="left" vspace="5" hspace="5"/><Br>
            Сальвадо́р Дали́ — испанский живописец, график, скульптор, режиссёр и писатель.
            Один из самых известных представителей сюрреализма.
            Работал над фильмами: «Андалузский пёс», «Золотой век», «Заворожённый».
        </p>
    </div>
    <div>
        <details>
            <summary><h2>«Постоянство памяти», 1931 год</h2></summary>
                <p><img src="/static/images/56fec1bcb5c71fd2.webp" width="500" align="left" vspace="10" hspace="10"><Br>
                Эта картина имеет несколько названий: «Мягкие (текучие) часы», «Течение времени», «Твердость памяти».
                Великий мистификатор Дали несколько раз давал разъяснения относительно символов, которые представлены
                на полотне, однако это еще больше запутало искусствоведов. <Br>
                «Постоянство памяти» разрушает стереотип восприятия человеком времени. Автор акцентирует внимание на том,
                что оно далеко от линейности, с которой часто ассоциируют протекающее время. <Br>
                Идея картины пришла к Дали за завтраком, когда Гала на тост намазывала мягкий сыр.
                Писал живописец картину, одолеваемый мигренью. Отсюда хмурость тонов, преобладание коричнево-серых оттенков. <Br>
                Центральный образ — голова на земле, в которой узнаются черты самого Дали, — это воплощенное желание покоя и отдыха от боли.
                Остальные образы (встречались часто на его полотнах) представляют идею тленности бытия: муравьи и муха поедают время, как старение поедает тело человека.
                Скалистый берег и море — символы бессмертия, которое вне времени, вечно, поэтому и находится на втором плане. Иссушенное дерево оливы — иссякшая жизнь.
                Вся картина выражает меланхолию и угасание. <Br>
                Сейчас эта небольшая картина (24х33 см) красуется в нью-йоркском Музее современного искусства.
                </p>
        </details>
    </div><Br>
    <div>
        <details>
            <summary><h2>«Жираф в огне» 1936–1937 годы</h2></summary>
                <p><img src="/static/images/6166585c216f69a1.webp" width="400" align="right" vspace="10" hspace="10"><Br>
                Еще одна картина из целого ряда полотен, в которых Дали передал собственное переживание и ощущение войны.
                Картина, как и все другие творения автора, содержит мистически-фантастические образы, которые поражают воображение своей абсурдностью.
                Но если выключить рациональное мышление и опереться исключительно на эмоциональное восприятие, тогда все смыслы становятся понятны. <Br>
                Две женские фигуры (любимый образ Дали) — это воплощение человеческого сознания. Оно не стойкое, шатающееся, ему постоянно нужна поддержка и опора.
                Выдвижные ящики — это память и мысли, которые люди стремятся спрятать, но в какой-то момент открывают их публике. Это приводит к трагедии (кровавые руки героинь). <Br>
                Жираф, объятый пламенем, помещен автором на второй план. Он символизирует мужское апокалиптическое начало.
                В целом же картина — это воплощенное предчувствие войны в Испании. <Br>
                Сейчас картина находится на хранении в Базельском музее искусств.
                </p>
        </details>
    </div><Br>
    <div>
        <details>
            <summary><h2>«Призрак Вермера Делфтского, который можно использовать как стол», 1934 год</h2></summary>
                <p><img src="/static/images/kartiny-Salvadora-Dali_1.jpg" width="400" align="left" vspace="10" hspace="10"><Br>
                "Призрак Вермера Делфтского, способный послужить и столом", картина, написанная Сальвадором Дали в 1934-ом и  украшающая ныне музей художника в Санкт-Петербурге,
                штат Флорида - хотя я предпочел бы видеть ее в нашем Театре-Музея Сальвадора Дали в Фигерасе". <Br>
                "Призрак Вермера Делфтского, способный послужить и столом" - небольшая вещь (24 Х 18 см, масло, доска) -
                лишь немногим крупнее, чем написанный в том же году, и точно так же на доске "Призрак сексуальной привлекательности" -
                одну из главных жемчужин Зала Сокровищ Театра-музея. <Br>
                По ряду использованных художником технических приемов и, прежде всего, своим главным персонажем картина, впрочем,
                более близка к еще одному превосходному полотну того же года: "Загадочные элементы на фоне пейзажа". <Br>
                И там, и здесь присутствует один из безусловных кумиров Сальвадора Дали, которым каталонский художник не
                переставал смиренно восхищаться всю жизнь: Ян Вермеер, или Вермеер Делфтский. <Br>
                Образ голландского живописца Дали позаимствовал с его знаменитой картины "Аллегория живописи",
                которую сам Вермеер ценил чрезвычайно, и с которой не желал расставаться, даже невзирая на огромные долги,
                которыми к концу жизни оброс со всех сторон. <Br>
                Несомненно, помещая Вермеера в родной для самого Дали с детства и чрезвычайно любимый им каталонский пейзаж,
                Сальвадор, подсознательно или явно, ассоциирует себя с голландским корифеем.
                </p>
        </details>
    </div><Br>
    <div>
        <details>
            <summary><h2>«Мягкий автопортрет с жареным беконом», 1941 год</h2></summary>
                <p><img src="/static/images/image721_1.jpg" width="400" align="right" vspace="10" hspace="10"><Br>
                На невысоком плоском пьедестале с надписью по-английски «мягкий автопортрет» возвышается аморфное подобие человеческой головы.
                Черты лица, оплывающие под тяжестью собственного веса, поддерживаются многочисленными рогульками-подпорками.
                Этих подпорок на полотне столь много, что они создают подобие ажурной конструкции, перетягивая внимание зрителя на себя. <Br>
                Мозг пытается охватить это сплетение вертикальных линий, теряя способность сосредоточиться на мягких текучих чертах лица.
                Единственная деталь, на которую здесь возложена задача передать портретное сходство — это знаменитые закрученные вверх усы.
                Да еще, пожалуй, густые изогнутые брови, которые выглядят как зеркальное отражение усов. <Br>
                На постаменте лежит словно невзначай забытая проходящим мимо туристом полоска жареного бекона.
                Люди и еда — излюбленное сочетание Дали. «Моя живопись — это жизнь и пища, плоть и кровь», — как говорил сам художник.
                </p>
        </details>
    </div><Br>
    <div>
        <details>
            <summary><h2>«Два куска хлеба, выражающие любовное чувство», 1940 год</h2></summary>
                <p><img src="/static/images/xleb.webp" width="400" align="left" vspace="10" hspace="10"><Br>
                Натюрморт "Два куска хлеба, выражающие любовное чувство", был написан Сальвадором Дали в Аркашоне - сегодня
                это дорогущий курорт на Бискайском заливе в 70 км от Бордо, славный, среди прочего, своими устрицами.
                Уже в 1940-ом Аркашон тоже пользовался репутацией элитного курортного местечка, и там, на самом краю Франции,
                оказались в свое вреся многие известные люди, которых кровавая вакханалия Гитлера заставила, в конце концов,
                пересечь океан в поисках убежища в США. <Br>
                В смутном и тревожном 1940-ом одновременно с четой Дали в Аркашоне оказался и один из столпов дадаизма и сюрреализма -
                Марсель Дюшан, среди прочих свои талантов числивший большое умение в шахматной игре. <Br>
                Дюшан нашел себе замечательного партнера в лице Гала, с которой и сражался за шахматной доской целые дни напролет.
                Его можно понять: Аркашон и сегодня остается довольно скучным местечком - кроме устриц (надо сказать, преотличных)
                и крупнейшей в Еврое песчаной дюны Пила, расположенной неподалеку, там, по большому счету, ничего нет - если не
                считать отчетливо различимого аромата больших денег, владельцы которых всегда были неравнодушны к Аркашону. <Br>
                Пока Дюшан и Гала предавались изысканным забавам интеллектуалов,  Сальвадор Дали, как обычно, был захвачен
                творческим процессом, который, кажется, протекал в нем беспрерывно. Дали, по собственным его словам,
                изучал "очередное открытое им свойство хлеба", занятый "поиском точной смеси масла амбры, смолы, лака,
                неуловимой вязкости и суперчувствительной материальности". <Br>
                Как несложно догадаться по сверхзамысловатому описанию, поиск вышеозначенного рецепта, крайне необходимого
                Сальвадору для того, что максимально точно изобразить на холсте хлеб, отнимал у художника все мысли и силы,
                превращая его, по сути, в лунатика. Однажды, ненадолго верувшись в реальность, Сальвадор обнаружил, что игроки
                забыли на столе, рядом с хлебом, который он  упорно пытался написать, пешку - которая и пригодилась ему
                в качестве объекта изображения. <Br>
                Так что Гале и Дюшану пришлось искать шахматной фигурке замену, а Дали в итоге написал одно из своих замечательных
                и откровенно "предательских" по отношению к сюрреализму полотен, которое можно считать предтечей гиперреалистической "Корзинки с хлебом" (1945).
                </p>
        </details>
    </div><Br>
    <div>
        <details>
            <summary><h2>«Корзинка с хлебом», 1945 год</h2></summary>
                <p><img src="/static/images/korzinka-s-xlebom-dali+.jpg" width="400" align="right" vspace="10" hspace="10"><Br>
                Одна из простейших и загадочных работ мастера. Известно, что автор часто писал хлеб, отношение у него к этому объекту было очень особенное, трепетное. <Br>
                Конец войны, конец страданиям. Скрупулезно написанная работа лаконична, но зритель не в состоянии оторвать своего взгляда от нее.
                Переплетения прутьев корзины завораживает, реалистичность фактуры белого хлеба восхищает. Лишь едва заметные проблемы
                с перспективой говорят о том, что автор остается самим собой и его напускной реализм, не что иное, как иллюзия, каприз гения. <Br>
                Черный фон позволяет зрителю сконцентрироваться на основных объектах. <Br>
                Предвестие мирной жизни, обычного порядка вещей...
                </p>
        </details>
    </div><Br>
    <div>
        <details>
            <summary><h2>«Призрачная повозка», 1933 год</h2></summary>
                <p><img src="/static/images/povoz.jpg" width="400" align="left" vspace="10" hspace="10"><Br>
                В начале тридцатых молодой Дали особенно активно писал родные ему места: долину Ампурдан, пляж в Росесе,
                восстающие на горизонте предгорья Пиренеев, за которыми начинается Франция, Кадакес и скалы мыса Креус... <Br>
                На картине как раз запечатлена плоская, как стол, Ампурданская долина обрамленная у горизонта Пиренейскими горами,
                у подножия которых расположился городишко, который, при всей его условности, может быть идентифицрован, как Фигерас. <Br>
                Что до "призрачности" повозки, обозначенной в названии картины - речь идет об одном из действенных технических приемов,
                которыми Дали начал пользоваться в начале тридцатых: о так называемом "двойном образе".  Суть его в том, что одно
                изображение в то же время содержит в себе другое, ассоциированное с первым по общим визуальным признакам, и,
                в зависимости от изменения персональных "настроек" нашего зрительного восприятия, мы можем видеть то одну, то другую картинку попеременно. <Br>
                Так, в "Призрачной повозке" силуэты возницы и коня, если чуть по-иному перенастроить восприятие, начинают
                воприниматься как очертания зданий города впереди, на горизонте - и "участники гужевого движения", таким образом,
                исчезают, подобно призраку. Это эффект исключительно хорошо работает при просмотре оргинала, который нужно
                разглядывать с близкого расстояния - что, учитывая миниатюрные размеры работы, совершенно необходимо.
                </p>
        </details>
    </div><Br>
    <div>
        <details>
            <summary><h2>«Без названия. Джулиано Медичи. По мотивам статуи с надгробия Джулиано Медичи работы Микеланджело», 1982 год</h2></summary>
                <p><img src="/static/images/david.jpg" width="400" align="right" vspace="10" hspace="10"><Br><Br><Br><Br>
                «Голова Джулиано ди Медичи» (по мотивам статуи Микеланджело) – одна из последних картин, написанных Сальвадором Дали. Смерть его жены Галы в июне
                1982 года стала для художника началом конца. Его жизнь без нее потеряла смысл, а творчество лишилось вдохновения. В поисках новых
                опор Дали обратился к наследию старых мастеров. Он и прежде часто переосмысливал образы любимых классиков в своей работе, но в первые
                два года после смерти жены он то и дело обращался к вечности, вновь и вновь вызывая к жизни воспоминания творений Веласкеса и Микеланджело.
                </p>
        </details>
    </div><Br>
    <div>
        <details>
            <summary><h2>«Кубический автопортрет», 1923 год</h2></summary>
                <p><img src="/static/images/kubic.jpg" width="400" align="left" vspace="10" hspace="10"><Br>
                Цветовая гамма от золотистого до лилового; изображение разложено на грани, составлено из них. Вертикально ориентированный холст,
                струящиеся сверху вниз вертикальные штрихи. Изображение словно вытянуто по оси ординат, чтобы подчеркнуть характерные особенности фигуры Дали: высокий, худощавый. <Br>
                В этот калейдоскоп граней вписаны предметы, дополняющие образ художника: газета, сигаретная пачка, — атрибуты денди. <Br>
                Центр композиции — узкое «демоническое» лицо с лаконично, но точно обозначенными узнаваемыми чертами. Сросшиеся брови. Гладкие, на пробор расчесанные черные волосы. Тонкий нос, лишь намеченный вертикальной линией.
                Прорези чуть раскосых глаз. Одна глазница словно излучает белый слепящий свет. Вторая — непроницаемая черная дыра.
                Этот прием подчеркивает двойственность характера Дали. <Br>
                Одна часть беспокойной натуры художника всегда была обращена вовне. Дали любил «играть на публику», эпатировать окружающих, привлекать к себе внимание. Был ли он экстравертом?
                Скорее всего, нет. Это позерство было маской болезненно застенчивого, глубоко неуверенного в себе человека. <Br>
                Другая его часть была обращена внутрь. Он лелеял свои многочисленные комплексы, был склонен к бесконечным самокопаниям, анализу своих поступков. Дали неоднократно писал автопортреты.
                Его внешность была таким же узнаваемым брендом, как мягкие часы, подпорка-костыль или хлеб фаллической формы.
                При этом он обращался к различным техникам и стилям. В ранний период своего творчества, находясь под сильным влиянием авангардистов, он пишет несколько картин, следуя канонам кубизма. «Кубистический автопортрет» относится именно к этому периоду.
                </p>
        </details>
    </div><Br>
    <div>
        <details>
            <summary><h2>«Натюрморт», 1926 год</h2></summary>
                <p><img src="/static/images/fish.webp" width="400" align="right" vspace="10" hspace="10"><Br>
                Гитара, серый диск луны, доминирующий над сценой - всё это отсылки к "Оде Сальвадору Дали" - поэтическому произведению Лорки,
                которое можно расценивать как публичное признание в любви каталонскому художнику. Присутствует в пространстве картины и сам Федерико -
                в виде характерного бюста с не раз уже упоминавшимися нами "ушками топорикам" - по которым, собственно, и опознается Лорка в картинах Дали. <Br>
                В картине "Натюрморт также очень сильно влияние Пикассо, на тот момент времени являвшегося одним из кумиров Дали. Следует вспомнить
                пикассовскую вещь "Музыкальные инструменты на столе", написанную летом 1924-го и имеющую непосредственно отношение к "Натюрморту" Дали,
                что охотно признавал и сам Сальвадор. <Br>
                Однако, по его словам, вместо гитары "сухой", он решил написать инструмент влажным, мягким и скользким - как, например, рыба.
                Впоследствии Дали утверждал, что гитара из картины "Натюрморт" явилась прообразом его знаменитых "мягких часов" (картина "Постоянство памяти", 1931). <Br>
                </p>
        </details>
    </div><Br>
    <div align="center">
        <p>
            <a class = "p-3 btn btn-outline-dark flex-grow-0" href="/ttest4">Назад</a>
            <a class = "p-3 btn btn-outline-dark flex-grow-0" href="/quiz1">Квиз</a>
        </p>
    </div>
</body>
{% endblock %}