{% extends 'base.html' %}

{% block title %}
Казимир Малевич (1879-1935)
{% endblock %}

{% block body %}
<style>
   div {
    text-align: center;
    overflow: auto;
    padding-left: 15px;
    padding-right: 15px;
   }
   BODY {
    background: #990000;
   }
</style>
<body>
    <div align="center">
        <h1 style="text-align: center">Казимир Малевич (1879-1935)</h1><Br>
    </div>
    <div align="left">
        <p><img src="/static/images/IMG_5183.jpg" width="300" align="left" vspace="5" hspace="5"/><Br>
            Казими́р Севери́нович Мале́вич — российский и советский художник-авангардист
            польского происхождения, педагог, теоретик искусства, философ.
            Основоположник супрематизма — одного из крупнейших направлений абстракционизма.
        </p>
    </div>
    <div>
        <details>
            <summary><h2>«Точильщик (Принцип мелькания)», 1912 год</h2></summary>
                <p><img src="/static/images/toch.jpeg" width="400" align="right" vspace="10" hspace="20"><Br>
                «Точильщик» был создан в 1912 году.
                Основой композиции картины стало колесо, которое буквально визуально «раскручивает» полотно.
                В «Принципе мелькания» критики выделяют как элементы стиля футуризма, так и кубизма, для которого
                характерно многократное повторение однородных предметов. <Br>
                Картина впервые была выставлена за рубежом в начале 20-х годов.
                В Берлине открылась Первая русская выставка, на которой Малевич и представил своего «Точильщика».
                Полотно произвело неизгладимое впечатление на Катерину Дрейер, художницу из Нью-Йорка, которая
                приобрела его и увезла с собой в США. Почти через 80 лет картина из коллекции американки была передана в дар художественной галерее
                Йельского университета, где хранится и поныне.
                </p>
        </details>
    </div><Br>
    <div>
        <details>
            <summary><h2>«Черный квадрат», 1915 год</h2></summary>
                <p><img src="/static/images/kvadr.png" width="400" align="left" vspace="10" hspace="20"><Br>
                Малевич считал, что лучшее, что он написал в своей жизни — это «Чёрный квадрат».
                Идея его создания родилась в голове художника в 1913-м году, когда он работал над эскизами
                декораций к постановке оперы Михаила Матюшина «Победа над Солнцем».
                Изображение чёрного квадрата использовалось тогда в качестве антипода солнечного круга и
                означало победу сознательного творчества над пассивной природой. <Br>
                Сама легендарная картина была написана в 1915 году.
                Она была частью целого цикла супрематических экспериментов. Интересно, что на обороте холста
                художником поставлена другая дата – 1913 год. Дело в том, что, не придавая значения фактической
                дате написания, автор переставил акцент на дату рождения замысла.
                Малевич неоднократно комментировал свою работу: «Основной супрематический элемент. Квадрат. 1913»
                </p>
        </details>
    </div><Br>
    <div>
        <details>
            <summary><h2>«Супрематическая композиция», 1916 год</h2></summary>
                <p><img src="/static/images/supre.jpg" width="350" align="right" vspace="10" hspace="20"><Br>
                10 лет назад, в 2008 году, в Нью-Йорке на аукционе Sotheby's была выставлена
                на торги Супрематическая композиция, известная также как «Синий прямоугольник поверх
                красного луча». Картина была написана в 1916-м,
                тогда же, когда Малевич опубликовал свой знаменитый Манифест супрематизма. <Br>
                Эта работа с успехом демонстрировалось на выставках в России.
                В 1927 году Малевич решил познакомить Западную Европу с супрематизмом
                и отправился с этой картиной на выставку в Варшаву, а затем Берлин.
                </p>
        </details>
    </div><Br>
    <div>
        <details>
            <summary><h2>«Скачет красная конница…», 1928—1932 годы</h2></summary>
                <p><img src="/static/images/pole.jpg" width="400" align="left" vspace="10" hspace="20"><Br>
                Одна из самых загадочных картин Казимира Севериновича.
                До сих пор точная дата ее написания остается в секрете.
                Полное ее название — «Скачет красная конница из октябрьской столицы, на защиту советской границы».
                Эта работа стала одной из немногих абстрактных картин, которые пришлись по вкусу советской власти.
                Сыграли свою роль название и события, запечатленные на холсте. <Br>
                Разделенная на три части – небо, земля и красная конница – картина содержит в себе, по мнению историков, множество шифров и тайных кодов.
                К примеру, при работе над полотном Малевич использовал принцип золотого сечения
                – гармоничного деления, соотношения двух сторон.
                Так отношение ширины земли и неба – дано в пропорции 0,618.
                </p>
        </details>
    </div><Br>
    <div>
        <details>
            <summary><h2>Автопортрет, 1933 год</h2></summary>
                <p><img src="/static/images/avtoport.jpg" width="400" align="right" vspace="10" hspace="20"><Br>
                В настоящее время искусствоведы знают о пяти автопортретах Малевича.
                Самый ранний из них датируется 1907 годом, а последний – 1934-м. <Br>
                В 1933 году, когда у Малевича началась тяжелая болезнь (рак-прим.),
                он написал один из самых узнаваемых своих автопортретов, на котором предстал в образе
                венецианского дожа. Картина, похожая на портрет эпохи Возрождения, по мнению искусствоведов,
                пропитана духом неоклассицизма, который был популярен в то время. В нижнем правом
                углу вместо подписи художник поставил знак, прославивший его на весь мир – маленький черный квадрат.
                </p>
        </details>
    </div><Br>
    <div>
        <details>
            <summary><h2>«Мистический супрематизм». 1920–1922 годы</h2></summary>
                <p><img src="/static/images/komp1.jpg" width="300" align="left" vspace="10" hspace="20"><Br>
                При взгляде на картину многие начинали искать религиозную подоплеку. Однако, как пояснял сам художник,
                его крест с религией не связан и является производной от базового элемента, то есть от черного квадрата. Если двигать квадрат в разных плоскостях, как раз и получится крест. Квадрат, крест и круг образуют, согласно супрематической теории художника, черный триптих.
                Последний и посвящен основным формам творения. <Br>
                В 2015 году картина появилась на аукционе Sotheby's, но не сумела приблизиться к рекорду
                «Супрематической композиции». При заявленной начальной стоимости в 35-45 млн долларов картина
                ушла с молотка за 37,7 млн долларов. Тем не менее,
                эта сумма внушительная и превосходит совокупные продажи картин многих других известных художников.
                </p>
        </details>
    </div><Br>
    <div>
        <details>
            <summary><h2>«Супрематизм. 18-я конструкция». 1915 год</h2></summary>
                <p><img src="/static/images/komp2.jpg" width="400" align="right" vspace="10" hspace="20"><Br>
                Работа была выполнена в 1915 году — в тот самый год, когда
                Малевич основал супрематизм. И является она одним из ярких символов
                этого художественного направления. По мнению художника, искусство представляет собой
                умение создавать конструкции на основании веса, скорости и направления движения.
                Если мы вернемся к фотографии выставки «0,10», то увидим там ряд картин с аналогичным сюжетом.
                Это полотно также появилось на торгах Sotheby’s в 2015 году и было заявлено в границах
                31,6-47,3 млн долларов.
                Окончательная цена продажи в итоге составила 33,8 млн долларов.
                </p>
        </details>
    </div><Br>
    <div align="center">
        <p>
            <a class = "p-3 btn btn-outline-dark" href="/ttest1">Назад</a>
            <a class = "p-3 btn btn-outline-dark" href="/ttest3">Вперед</a>
        </p>
    </div>
</body>
{% endblock %}