{% extends 'base.html' %}

{% block title %}
Марк Шагал
{% endblock %}

{% block body %}
<style>
   div {
    text-align: center;
    overflow: auto;
    padding-left: 15px;
    padding-right: 15px;
   }
   BODY {
    background: #336699;
   }
</style>
<body>
    <div align="center">
        <h1 style="text-align: center">Марк Шагал (1887-1985)</h1><Br>
    </div>
    <div align="left">
        <p><img src="/static/Shagal_Choumoff.jpg" width="300" align="left" vspace="5" hspace="5"/><Br>
            Марк Заха́рович Шага́л — русский и французский художник еврейского происхождения.
            Помимо графики и живописи занимался также сценографией, писал стихи на идише.
            Один из самых известных представителей художественного авангарда XX века.
        </p>
    </div>
    <div>
        <details>
            <summary><h2>«Над городом», 1914-1918 годы</h2></summary>
                <p><img src="/static/undertown.jpeg" width="500" align="right" vspace="10" hspace="10"><Br>
                «Над городом» - одна из самых знаменитых картин Марка Шагала. На ней художник изобразил всё,
                    что у него было важного в жизни на тот момент: самого себя, любимую жену Беллу и Витебск.
                    Отбросив земное притяжение, счастливые влюбленные летят над городом, обнявшись. <Br>
                Марк Шагал и его жена Белла любили друг друга так сильно, что забывали обо всем на свете — и как бы поднимались высоко над
                    землей. Конечно, в реальности люди не летают, но Шагал выдумал собственные законы, и на его картинах возможно все!
                    Парящие в небесах фигуры стали главным символом творчества художника. Полет у него — самое сильное
                    проявление чувств, торжество свободы духа. <Br>
                Хотя полет влюбленной пары сказочный, город здесь вполне настоящий. Шагал рисовал витебские здания и церкви, которые видел
                    собственными глазами. Например, красный дом с двумя трубами на крыше — это пивоваренный звод, а рядом с ним виднеются
                    купола Спасской церкви и Успенского собора. Художник специально показывает город с очень высокой точки зрения, так что на
                    картине уместился не только центр города, но и окраины. Именно там, в бедном еврейском квартале, рядом с местной тюрьмой,
                    и родился художник. Картина написана в перые годы семейной жизни Шагалов, и тема любви звучит в ней в полную силу.
                </p>
        </details>
    </div><Br>
    <div>
        <details>
            <summary><h2>«Автопортрет с семью пальцами», 1912-1913 годы</h2></summary>
                <p><img src="/static/sevenfig.jpg" width="400" align="left" vspace="10" hspace="10"><Br>
                Этот необычный портрет впервые предстал на суд зрителей на выставке Салона Независимых,
                    и сразу обратил на себя внимание, благодаря гармоничному сочетанию неопримитивизма и кубизма. <Br>
                Шагал предстаёт перед нами в образе творца, артиста: на это указывает и пиджак с лацканами, и бабочка,
                    и выглядывающий жёлтый жилет. Палитра, золотые кудри, аккуратная розочка на лацкане и палитра
                    в руках на переднем плане картины добавляют образу романтические черты. <Br>
                Но не это притягивает внимание, прежде всего – даже самый невнимательный зритель увидит, что на левой
                    руке живописца красуется семь пальцев. Автор не случайно допустил такую анатомическую погрешность.
                    Дело в том, что на идише есть выражение, которое можно сравнить с привычным фразеологизмом «мастер на все руки»,
                    только речь там идёт о семи пальцах. Шагал решил подшутить над своим мастерством, тонко и ненавязчиво. <Br>
                Интересным здесь также является сопоставление пейзажей – в окне мы видим красавицу-башню Эйфеля,
                    а над мольбертом парит в воздухе образ православной церквушки. Никакой Париж не сумел вытеснить из души милые картины родины. <Br>
                Автопортрет получился у Шагала подчёркнуто эксцентричным и даже психологичным, в этом его прелесть и оригинальность.
                </p>
        </details>
    </div><Br>
    <div>
        <details>
            <summary><h2>«Невеста», 1950 год</h2></summary>
                <p><img src="/static/nevesta-shagal+.jpg" width="400" align="right" vspace="10" hspace="10"><Br>
                 Образ невесты не раз встречается в полотнах Марка Шагала, особенно в преддверии свадьбы живописца на Белле Розенфельд.
                    Однако представленная работа «Невеста» выделяется из общего ряда - Беллы давно уже нет в живых, и это не ода любви и нежности. <Br>
                 Картина сочетает в себе как черты присущие стилю автора, знакомые и узнаваемые, так и новаторские идеи. Прежде всего, новшества касаются выбора
                    цветовой палитры – сине-серый фон с набором символических и фантастических изображений, на переднем плане которого выступает невеста.
                    На ней красное платье и белая фата до пола, а в руках зелёная ветка цветов – девушка как будто выходит из полотна, устремляясь к зрителю.
                    Один критик однажды заметил, что глядя на эту картину, кажется, что эта девушка ни чья-то абстрактная суженная, а именно твоя, и на тебя направлен
                    её внимательный взор маленьких глаз. <Br>
                 Композиция картины «собрана» из различных национальных еврейских лейтмотивов – козёл, играющий на виолончели, музыкант-флейтист, девочка с косичками.
                    Также автор насытил пространство полотна символами, такими, как рыба со свечой в плавнике, белка под виолончелью, и, конечно, церковь, которую и
                    не сразу удаётся разглядеть. Яркую невесту окружает вниманием мужчина – он то ли ласково обнимает девушку, то ли бережно поправляет фату на её голове. <Br>
                 Образ девушки получился каким-то фантастическим и нереальным. Неудивительно, что многие трактуют эту работу живописца как попытку выразить тоску по тому,
                    что давно потерял. <Br>
                 Интересный факт: картину «Невеста» можно увидеть на плакате в квартире главного героя в фильме «Ноттинг Хилл» с Джулией Робертс и Хью Грантом.
                    Это было обусловлено тем, что сценарист знаменитого фильма является большим поклонником Шагала и не смог упустить возможность его «процитировать»
                    в одной из сцен. <Br>
                </p>
        </details>
    </div><Br>
    <div>
        <details>
            <summary><h2>«Скрипач», 1912-1913 года</h2></summary>
                <p><img src="/static/69.jpg" width="400" align="left" vspace="10" hspace="10"><Br>
                В укладе евреев скрипач всегда был важен: ни рождение, ни похороны, ни свадьба, не обходились без музыканта.
                    Так скрипач стал символом всей человеческой жизни. На этой картине есть почти все поры года: на переднем плане –
                    желтая осень, переходящая в весну. Задний план – зима. <Br>
                И скрипач тоже как бы состоит из разных областей, определяющими его принадлежность к определенному народу.
                    В целом, вся картина перенасыщена цветом, передающим энергию художника. А знаете, почему скрипач играет на крыше?
                    Сам Шагал направо и налево рассказывал, что это не художественный прием: якобы, у него был родной дядя, который,
                    когда пил компот, забирался на крышу, чтобы его никто не мог побеспокоить. Остается верить художнику на слово.
                </p>
        </details>
    </div><Br>
    <div>
        <details>
            <summary><h2>«Голубые любовники», 1914 год</h2></summary>
                <p><img src="/static/image094.jpg" width="400" align="right" vspace="10" hspace="10"><Br>
                Известная серия Марка Шагала – «Голубые любовники», «Розовые любовники», «Серые любовники», «Зеленые любовники» – была
                    посвящена его любимой женщине – дочери успешного ювелира Белле Розенфельд. Эти картины писались в период их брака,
                    хотя и после смерти Беллы Шагал продолжал вписывать ее почти во все свои женские образы. Неудивительно – Розенфельд
                    ждала Шагала четыре года, пока он был в Париже. После чего Шагал вернулся в Витебск, чтобы забрать Беллу во Францию. <Br>
                Картина «Голубые любовники» явно фантасмагорична. Пространство и предметы искажаются, будто во сне.
                    Синий для художника – это воплощение Богоматери, царства Небесного. Именно этот цвет Шагал использовал, чтобы передать
                    ощущение влюбленности, счастья и нежности.
                </p>
        </details>
    </div><Br>
    <div>
        <details>
            <summary><h2>«Прогулка», 1918 год</h2></summary>
                <p><img src="/static/progulka-shagal+.jpg" width="400" align="left" vspace="10" hspace="10"><Br>
                Снова мужчина и женщина. Кроме них, держащихся за руку, в этот момент в мире нет ничего важного.
                    Эти двое – опять-таки реальные люди – сам Марк и его жена Белла. Он стоит на земле. Она – в небесах.
                    И при этом они вместе, держась за руки, соединяют земной мир с миром снов. <Br>
                Две эти картины – «Над городом» и «Прогулка» – которые чаще всего и ассоциируются с творчеством Шагала, относятся к периоду
                    времени между 1914 и 1918 гг. Можно отметить явное портретное сходство фигур с самим Шагалом и Розенфельд,
                    поэтизацию пейзажей Витебска. А еще «Прогулка» стала частью триптиха. В ту же серию попали картины «Двойной портрет» и
                    «Над городом». В «Двойном портрете» Белла сидит на плечах мужа и готовится к прыжку, а в картине «Над городом» они уже
                    парят в небе вдвоем. «Прогулку» трактовали и как побег от реальности, которую собой тогда представляла революция.
                    А сам Шагал написал: «Художнику надо иногда быть в пеленках» – видимо, имея ввиду, что внешний мир не должен рубить творцу его
                    мирный полет фантазии.
                </p>
        </details>
    </div><Br>
    <div>
        <details>
            <summary><h2>«Белое распятие», 1938 год</h2></summary>
                <p><img src="/static/Chagall_White_Crucifixion.jpg" width="400" align="right" vspace="10" hspace="10"><Br>
                Творение Шагала, в котором воплощено видение художником современного для него мира. Вспомните еврейское кладбище
                    Шагала двадцатилетней давности и сравните, насколько трагичнее выглядит это полотно. Обратите внимание на белый луч –
                    он пересекает картину сверху вниз. Искусствоведы считают, что эта деталь олицетворяет самого бога, но это неточно.
                    Еврейское предписание запрещало изображать бога, а этот луч, освещающий Христа, становится олицетворением того,
                    что смерть уничтожена. Он заставляет нас воспринимать Христа уснувшим, а не умершим. <Br>
                На картине можно увидеть зеленую фигуру с мешком за плечами. Эта фигура присутствует на нескольких работах Шагала и интерпретируется
                    как любой еврейский путешественник или пророк Илья. Также в середине композиции изображена лодка – ассоциация с надеждой на спасение
                    от нацистов. <Br>
                Картина написана прямо перед войной – в тот год, когда нацисты устроили целую серию убийств еврейского народа.
                    Задний план этой картины как раз и показывает сцены бедствий, погромов и преследований. «Белое распятие» –
                    это явное предчувствие грядущего Холокоста. Кстати, это любимая картина папы римского Франциска. <Br>
                </p>
        </details>
    </div><Br>
    <div>
        <details>
            <summary><h2>«Свадебные огни», 1945 год</h2></summary>
                <p><img src="/static/148.jpg" width="400" align="left" vspace="10" hspace="10"><Br>
                Как и почти все картины, на которых изображены женщины, это полотно посвящено первой жене художника — Белле.
                    Шагал познакомился с ней еще в 1909 году в Витебске, спустя несколько лет парижских скитаний, о которых мы уже писали,
                    женился и прожил с ней три десятка лет, вплоть до ее смерти в 1944-м. Белла стала главной женщиной в жизни Шагала и главной музой.
                    После смерти жены Шагал девять месяцев ничего не писал, а потом, даже вступая в отношения с другими, всегда писал только ее и для нее.
                    Еще две его известные пассии – дочь бывшего консула Великобритании в США Вирджиния Манкилл-Хаггард, которая сбежала от Марка с их сыном,
                    и Валентина Бродская – дочь киевского фабриканта, которая прожила с Шагалом 33 года и стала для него отличным менеджером.
                    Она тотально пресекла его общение с Вирджинией,
                    сыном и многими прежними знакомыми, зато Шагал в этот период очень много работал и стал коммерчески успешен.
                </p>
        </details>
    </div><Br>
    <div>
        <details>
            <summary><h2>«Ночь», 1953 год</h2></summary>
                <p><img src="/static/image162.jpg" width="400" align="right" vspace="10" hspace="10"><Br>
                Мистическая «Ночь», как отмечают искусствоведы, отображает религиозную тематику и передает ностальгию по Витебску.
                    Также это произведение показывает любовь Шагала к женщинам, но сюжет непонятен без изучения цветовой гаммы.
                    Красный петух – ожидания художника скорых перемен и тревог. Петух связан и с религиозными взглядами Шагала.
                    Продолжается тема летающих людей. Женщина выглядит реально. Полет символизирует свободу.
                    А ночь на фоне только подчеркивает ее: абсолютная свобода путешествий во снах.
                </p>
        </details>
    </div><Br>
    <div align="center">
        <p>
            <a class = "p-3 btn btn-outline-dark flex-grow-0" href="/ttest3">Назад</a>
            <a class = "p-3 btn btn-outline-dark flex-grow-0" href="/ttest5">Вперед</a>
        </p>
    </div>
</body>
{% endblock %}