{% extends 'base.html' %}

{% block title %}
Пабло Пикассо
{% endblock %}

{% block body %}
<style>
   div {
    text-align: center;
    overflow: auto;
    padding-left: 15px;
    padding-right: 15px;
   }
   BODY {
    background: #339933;
   }
</style>
<body>
    <div align="center">
        <h1 style="text-align: center">Пабло Пикассо (1881-1973)</h1><Br>
    </div>
    <div align="left">
        <p><img src="/static/IMG_5185.jpg" width="300" align="left" vspace="5" hspace="5"/><Br>
            Па́бло Руи́с-и-Пика́ссо, полное имя — Па́бло Дие́го Хосе́ Франси́ско де
            Па́ула Хуа́н Непомусе́но Мари́я де лос Реме́диос Сиприа́но
            де ла Санти́сима Тринида́д Ма́ртир Патри́сио Руи́с-и-Пика́ссо —
            испанский и французский художник, скульптор, график,
            театральный художник, керамист и дизайнер.
        </p>
    </div>
    <div>
        <details>
            <summary><h2>«Плачущая женщина», 1937 год</h2></summary>
                <p><img src="/static/10-znamenityh-kartin-pablo-pikasso1.jpg" width="400" align="left" vspace="10" hspace="10"><Br>
                Картина, выполненная масляными красками «Плачущая женщина», написана в 1937 году.
                    Считается, что картина продолжает тему трагедии в след за картиной «Герника».
                    Нарисовав плачущую женщину, Пикассо целенаправленно сфокусировал внимание на человеческой
                    составляющей страданий и создал единый образ вселенской трагедии. Это последняя работа Пикассо в серии работ,
                    нарисованных в знак протеста. Позировала для картины (как и для целой серии других картин)
                    Дора Маар, которая сама работала профессиональным художником. <Br>
                Без сомнений Пикассо демонстрировал неординарные художественные способности с ранних лет!
                    Один из создателей кубизма, он был поразительно плодовитым художником, который не только получил
                    всемирную известность и богатство, благодаря потрясающим произведениям искусства, но и стал самым знаменитым
                    деятелем искусства XX века.
                </p>
        </details>
    </div><Br>
    <div>
        <details>
            <summary><h2>«Любительница абсента», 1901 год</h2></summary>
                <p><img src="/static/absent.jpg" width="400" align="right" vspace="10" hspace="10"><Br>
                Место действия на картине Пабло Пикассо «Любительница абсента» обрисовано с исключительным лаконизмом.
                    Какое-то тесное кафе на Монмартре. За спиной Любительницы стена, крашенная в два грязноватых цвета.
                    Филенка, разделяющая верх и низ стены, проведена грубо, маляром явно не высшей квалификации; справа она слегка скошена,
                    так что даже в этой, в сущности, плоской живописи создается ощущение пространства, угла, в который загнала себя женщина.
                    Кафе бедное: она сидит не на стуле (иначе была бы видна спинка), а на табурете. Столешница мраморная – это практично.
                    Единственное украшение скудного интерьера – округлое зеркало в черной резной раме. Было ли все именно так в реальности, никто уже не узнает.
                    Обстановку художник мог и придумать, но отталкивался он от живых ощущений: уж очень эта обстановка
                    соответствует образу женщины наедине с рюмкой абсента, точно так же,
                    как розовый и красно-коричневый тона стены – синим оттенкам сифона и платья героини.
                </p>
        </details>
    </div><Br>
    <div>
        <details>
            <summary><h2>«Авиньонские девицы», 1907 год</h2></summary>
                <p><img src="/static/10-znamenityh-kartin-pablo-pikasso3.jpg" width="400" align="left" vspace="10" hspace="10"><Br>
                Эта картина нарисована в 1907 году и является самым ярким примером кубизма. Эта картина отходит от всех канонов
                    традиционной композиции и представлении картины.
                    Пикассо использует искаженное изображение женских тел и геометрические фигуры новаторским способом. <Br>
                Ни одна фигура не нарисована традиционно, и в итоге женщины кажутся даже немного устрашающими.
                    Как мы видим эта картина довольно больших размеров и у Пикассо заняло девять месяцев, чтобы ее закончить.
                    В этой картине заметно как африканское искусство повлияло на Пикассо.
                </p>
        </details>
    </div><Br>
    <div>
        <details>
            <summary><h2>«Голубая обнаженная», 1902 год</h2></summary>
                <p><img src="/static/10-znamenityh-kartin-pablo-pikasso4.jpg" width="400" align="right" vspace="10" hspace="10"><Br>
                Одна из самых ранних работ Пикассо. Она была написана в 1902 году. Эта картина результат «голубого периода» Пикассо.
                    Это был период, когда Пикассо использовал холодный бледно-голубой в качестве доминирующего цвета в своих картинах и рисунках. <Br>
                Большая часть картин «Голубого периода» отражают буйство эмоций одним цветом.
                    Голубая обнаженная изображает спину женщины, склонившейся в позе эмбриона. На картине не прорисован фон и от этого
                    понять ее эмоции проблематично.
                </p>
        </details>
    </div><Br>
    <div>
        <details>
            <summary><h2>«Дора Маар с кошкой», 1941 год</h2></summary>
                <p><img src="/static/0SxutQbycDw.jpg" width="400" align="left" vspace="10" hspace="10"><Br><Br>
                Картина, созданная Пикассо в 1941 году, изображает хорватскую любовницу художника, Дору Маар, с маленькой кошкой на плечах,
                    сидящую на стуле.
                    Пикассо состоял в отношениях с Дорой Маар 10 лет и в течение этого времени нарисовал множество ее портретов. <Br>
                Сама Дора работала фотографом-сюрреалистом. Эту картину принято считать наименее враждебным портретом Доры,
                    и самой дорогостоящей картиной в мире. Необычное внимание к деталям, которое уделил Пикассо в этой картине,
                    делают поистине произведением искусства.
                </p>
        </details>
    </div><Br>
    <div>
        <details>
            <summary><h2>«Сидящая женщина (Мария-Тереза)», 1937 год</h2></summary>
                <p><img src="/static/10-znamenityh-kartin-pablo-pikasso6.jpg" width="400" align="right" vspace="10" hspace="10"><Br>
                Эта работа написана в 1937 году. Мария Тереза была музой Пикассо и он нарисовал много ее портретов.
                    Многие уверены, что эта картина напоминает узор с рубашки игральных карт, которые обычно были оформлены полосами.
                    Опять же, кубизм тоже использован и в этой картине, в виде контраста между красными зелеными цветами.
                </p>
        </details>
    </div><Br>
    <div>
        <details>
            <summary><h2>«Три музыканта», 1921 год</h2></summary>
                <p><img src="/static/10-znamenityh-kartin-pablo-pikasso7.jpg" width="400" align="left" vspace="10" hspace="10"><Br>
                Название этой картины объединяет серию произведений, которую Пикассо закончил в 1921 году в Фонтебло недалеко от Парижа, Франция.
                    Это довольно большая картина более двух метров в высоту и ширину.
                    Это отражение стиля синтетического кубизма, который преобразует произведение искусства в последовательность плоскостей, линий и арок. <Br>
                Каждая картина с таким названием изображает Арлекина, Пьеро и Монаха.
                    Считается, что эти три героя олицетворяют Пикассо, Гийома Аполинера и Макса Жакоба соответственно.
                    Аполинер и Жакоб были близкими друзьями художника в 1910-х. Некоторые историки, однако, утверждают, что «Три музыканта»
                    были запоздалым ответом Пикассо на «Урок фортепиано».
                </p>
        </details>
    </div><Br>
    <div>
        <details>
            <summary><h2>«Герника», 1937 год</h2></summary>
                <p><img src="/static/10-znamenityh-kartin-pablo-pikasso8.jpg" width="500" align="right" vspace="10" hspace="10"><Br>
                Эта картина, вероятно, одна из самых узнаваемых работ Пикассо.
                    Это не обычная картина, а ярое политическое заявление. Она критикует обстрел бомбами городка Герника в стране Басков во время
                    испанской гражданской войны. Эта картина является сильным обвинительным приговором против войны.
                    Стиль картины являет собой объединение пасторального и грандиозного.
                    Она тщательно демонстрирует трагедии войны и страдания невинных людей.
                </p>
        </details>
    </div><Br>
    <div>
        <details>
            <summary><h2>«Девушка перед зеркалом», 1932 год</h2></summary>
                <p><img src="/static/10-znamenityh-kartin-pablo-pikasso9.jpg" width="400" align="left" vspace="10" hspace="10"><Br>
                Нарисованная в 1932 году, картина представляет портрет французской любовницы Пикассо - Марии Терезы Вальтер.
                    Стиль, в котором нарисована картина, называется кубизм. Основная идея Кубизма - взять и разбить определённый объект
                    на более простые части, а затем помочь показать его с разных точек зрения путем переноса этих частей на холст. <Br>
                Эта картина изображает тщеславие. На первый взгляд картина может показаться простой, но при ближайшем рассмотрении можно
                    обнаружить множество символов, скрытых в разных элементах картины.
                </p>
        </details>
    </div><Br>
    <div>
        <details>
            <summary><h2>«Старый гитарист», 1903 год</h2></summary>
                <p><img src="/static/10-znamenityh-kartin-pablo-pikasso10.jpg" width="400" align="right" vspace="10" hspace="10"><Br>
                Картина была нарисована в 1903 году в честь друга художника, Касагемаса, после его смерти в результате самоубийства.
                    Это было время, когда он проникся сочувствием к угнетенным и нищим. Отсюда и картина. Она была создана в Мадриде и нарисована
                    в искаженном стиле, перенятом от Эль Греко.
                    Картина изображает согнутого и слепого мужчину с большой коричневой гитарой в руках. <Br>
                Коричневый цвет - единственное отклонение от цветовой схемы всей картины. Не только физически, но и символически -
                    гитара наполняет пространство вокруг старого мужчины, который забывает о своей слепоте и нищете, пока играет.
                </p>
        </details>
    </div><Br>
    <div align="center">
        <p>
            <a class = "p-3 btn btn-outline-dark flex-grow-0" href="/ttest2">Назад</a>
            <a class = "p-3 btn btn-outline-dark flex-grow-0" href="/ttest4">Вперед</a>
        </p>
    </div>
</body>
{% endblock %}