{% extends 'base.html' %}

{% block title %}
Василий Кандинский
{% endblock %}

{% block body %}
<style>
   div {
    text-align: center;
    overflow: auto;
    padding-left: 15px;
    padding-right: 15px;
   }
   BODY {
    background: #FFCC00;
   }
</style>
<body>
    <div align="center">
        <h1 style="text-align: center">Василий Кандинский (1866-1944)</h1><Br>
    </div>
    <div align="left">
        <p><img src="/static/images/IMG_5181.jpg" width="300" align="left" vspace="5" hspace="5"/><Br>
            Васи́лий Васи́льевич Канди́нский —
            русский художник и теоретик изобразительного искусства,
            стоявший у истоков абстракционизма. Один из основателей группы «Синий всадник».
        </p>
    </div><Br>
    <div>
        <details>
            <summary><h2>«Последовательность», 1935 год</h2></summary>
                <p><img src="/static/images/kar1.jpg" width="400" align="left" vspace="10" hspace="10"><Br><Br>
                Это практически музыкальное произведение, отмеченное поздним периодом в творчестве Кандинского.
                Замкнутые поля с рассеянными элементами композиции, перетекающими в определенные формы.
                Художник вернулся к своим абстрактным истокам.
                </p>
        </details>
    </div><Br>
    <div>
        <details>
            <summary><h2>«Синий всадник», 1903 год</h2></summary>
                <p><img src="/static/images/kar2.jpg" width="400" align="right" vspace="10" hspace="10"><Br><Br>
                Эта картина послужила вдохновением для создания одной из самых влиятельных групп в
                истории современного искусства - Der Blaue Reiter.
                Эта ранняя работа написана на грани абстракции.
                </p>
        </details>
    </div><Br>
    <div>
        <details>
            <summary><h2>«Пляжные корзины в Голландии», 1904 год</h2></summary>
                <p><img src="/static/images/kar3.jpg" width="400" align="left" vspace="10" hspace="10"><Br><Br><Br>
                Пейзаж, заимствованный из поездки в Нидерланды. В сцене предположительно влияние импрессионизма.
                </p>
        </details>
    </div><Br>
    <div>
        <details>
            <summary><h2>«Осень в Мурнау», 1908 год</h2></summary>
                <p><img src="/static/images/kar4.jpg" width="300" align="right" vspace="10" hspace="50"><Br><Br><Br><Br><Br><Br>
                Постепенный переход к абстракции отмечен экспрессионизмом в пейзаже.
                </p>
        </details>
    </div><Br>
    <div>
        <details>
            <summary><h2>«Ахтырка. Красная церковь», 1908 год</h2></summary>
                <p><img src="/static/images/kar5.jpg" width="400" align="left" vspace="10" hspace="10"><Br><Br><Br><Br>
                Русский пейзаж, в котором художник воскресил свою тоску по дому.
                </p>
        </details>
    </div><Br>
    <div>
        <details>
            <summary><h2> «Гора», 1909 год</h2></summary>
                <p><img src="/static/images/kar6.jpg" width="400" align="right" vspace="10" hspace="10"><Br><Br><Br>
                Практически полностью абстрактный пейзаж с небольшими контурами,
                предполагающими холм и человеческие фигуры.
                </p>
        </details>
    </div><Br>
    <div>
        <details>
            <summary><h2>«Первая абстрактная акварель», 1910 год</h2></summary>
                <p><img src="/static/images/kar7.jpg" width="400" align="left" vspace="10" hspace="10"><Br><Br><Br><Br>
                Эта работа имеет историческую ценность, как первая полностью абстрактная акварель Кандинского.
                </p>
        </details>
    </div><Br>
    <div>
        <details>
            <summary><h2>«Композиция IV», 1911 год</h2></summary>
                <p><img src="/static/images/kar8.jpg" width="400" align="right" vspace="10" hspace="10"><Br><Br><Br>
                Есть история о том, что Кандинский думал, что завершил картину,
                но как только его помощник случайно повернул её другой стороной,
                изменилась перспектива и общее впечатление от полотна, что сделало его прекрасным.
                </p>
        </details>
    </div><Br>
    <div>
        <details>
            <summary><h2>«Импровизация 26 (Гребля)», 1912 год</h2></summary>
                <p><img src="/static/images/kar9.jpg" width="400" align="left" vspace="10" hspace="10"><Br><Br><Br><Br><Br><Br>
                Кандинский часто называл свои картины на манер музыкальных произведений - импровизации и композиции.
                </p>
        </details>
    </div><Br>
    <div>
        <details>
            <summary><h2>«Квадраты с концентрическими кругами», 1913 год</h2></summary>
                <p><img src="/static/images/kar10.jpg" width="400" align="right" vspace="10" hspace="10"><Br><Br><Br>
                Уже настоящая глубокая абстракция. Таким образом, Кандинский проводил исследование в области цвета и геометрии.
                </p>
        </details>
    </div><Br>
    <div>
        <details>
            <summary><h2>«Синий», 1922 год</h2></summary>
                <p><img src="/static/images/kar11.jpg" width="400" align="left" vspace="10" hspace="10"><Br><Br><Br><Br>
                Очередное изучение цвета в очень ограниченной геометрической форме.
                </p>
        </details>
    </div><Br>
    <div>
        <details>
            <summary><h2>«На белом II», 1923 год</h2></summary>
                <p><img src="/static/images/kar12.jpg" width="400" align="right" vspace="10" hspace="10"><Br><Br>
                Визуальное представление на двух основных нюансах - черном и белом.
                Две противоположности создают сильный контраст,
                сохраняя напряжение в живописи, которая имитирует борьбу между жизнью и смертью.
                </p>
        </details>
    </div><Br>
    <div align="center">
        <p>
            <a class = "p-3 btn btn-outline-dark flex-grow-0" href="/test">Назад</a>
            <a class = "p-3 btn btn-outline-dark flex-grow-0" href="/ttest2">Вперед</a>
        </p>
    </div>
</body>
{% endblock %}